infraGraph {
    defaultProject = projectName
    projects {
        projectName {
           upstreamDependencies {
                serviceName = [
                    {
                        team: externalTeamName
                        service: externalServiceName
                    },
                ]
           }
        }
    }
}
